/* :root {
    --text: rgb(250, 247, 253);
    --background: rgb(8, 4, 12);
    --primary: rgb(182, 130, 217);
    --secondary: rgb(37, 16, 51);
    --accent: rgb(148, 72, 199);
} */

:root {
    --text: rgb(248, 251, 252);
    --background: rgb(6, 12, 14);
    --primary: rgb(40, 79, 92);
    --secondary: rgb(12, 24, 28);
    --accent: rgb(75, 146, 170);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--background);
    font-family: "Hind", sans-serif;
    height: 100vh;
}

main {
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
select,
input {
    font-family: "Montserrat", sans-serif;
}

input:focus, select {
    outline: none;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

.title h1 {
    color: var(--accent);
}

.title p {
    color: var(--text);
}

.qr-wrapper {
    margin: 25px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.customization-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    height: 5vh;
}

.customization-container input[type="color"] {
    appearance: none;
    background: none;
    border: 0;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
}

.customization-container input[type="color"]:hover {
    border: 1px solid var(--accent);
}

.customization-container input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.customization-container input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

.primary-color,
.secondary-color {
    flex: 1;
}

.sizes {
    flex: 2;
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 10px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-container input {
    width: 232px;
    height: 50px;
    padding: 15px;
    border: none;
    background-color: var(--secondary);
    color: var(--text);
    transition: all 0.3s ease 0s;
    border-radius: 4px;
}

.qr-container {
    margin: 50px 0px 50px;
    text-align: center;
    color: var(--primary);
}

.qr-code {
    border: 1px solid var(--primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.9;
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--text);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    min-width: 15vw;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--text);
    opacity: 1;
}