/* :root {
    --primary-color: #042525;
    --secondary-color: #E4F1E9;
    --accent-color: #16CACA;
} */

/* :root {
    --primary-color: #15281C;
    --secondary-color: #EDFDFD;
    --accent-color: #6CB286;
} */

/* :root {
    --primary-color: #3A1918;
    --secondary-color: #F9F1F1;
    --accent-color: #C9807E;
} */

:root {
    --primary-color: #171219;
    --secondary-color: #F6F3F6;
    --accent-color: #8D7198;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--primary-color);
    font-family: "Hind", sans-serif;
    height: 100vh;
}

main {
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
select,
input {
    font-family: "Montserrat", sans-serif;
}

input:focus, select {
    outline: none;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

.title h1 {
    color: var(--accent-color);
}

.title p {
    color: var(--secondary-color);
}

.qr-wrapper {
    margin: 25px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.customization-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    height: 5vh;
}

.customization-container input[type="color"] {
    appearance: none;
    background: none;
    border: 0;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
}

.customization-container input[type="color"]:hover {
    border: 1px solid var(--accent-color);
}

.customization-container input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.customization-container input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

.primary-color,
.secondary-color {
    flex: 1;
}

.sizes {
    flex: 2;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 10px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-container input {
    width: 232px;
    height: 50px;
    padding: 15px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.3s ease 0s;
    border-radius: 4px;
}

.qr-container {
    margin: 50px 0px 50px;
    text-align: center;
    color: var(--accent-color);
}

.qr-code {
    border: 1px solid var(--accent-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.btn {
    font-size: 1.5rem;
    opacity: 0.9;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--secondary-color);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    width: 25vh;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    opacity: 1;
}